body {
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #58D68D;
}

.quem-somos {
    background-color: #3498DB;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #AED6F1;
}